{{!-- {{#each ??? in |??|}} --}}
<div class="card" style="width: 18rem;">

  <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Album name</p>
    <p class="card-text">Artist Name</p>
    <p class="card-text">Release Date</p>
  </div>
</div>
{{!-- {{/each}} --}}