*{
  display: flexbox;
  justify-content: baseline;
  padding: 10;
  font-family: 'Times New Roman', Times, serif
}

h1 {
  font-size: 40px;
  margin: 20px;
  text-align: center;
}

p {
  font-size: 30px;
  margin: 10 px;
  text-align: center;
}

.search-bar {
  display: flex;
  font-size: 1rem;
  margin-top: 20px;
  max-width: 400px;
  margin-left:auto;
  margin-right:auto;
}

.search-bar > input {
  display:flex;
  font-size: inherit;
  text-align: left;
  padding: 0.5rem;
  border: 0.2rem solid black;
  max-width: 400px;
  margin-top: 5rem;
  margin-left:auto;
  /* margin-right:auto; */
}

.search-bar > input:hover,
.search-bar > input:focus {
  border-color:red;
}

.search-bar > button {
  font-size: inherit;
  text-align: center;
  padding: 10px;
  border-radius: 0 0.5rem 0.5rem 0;
  border-color: red;
  background-color: white;
  margin-top: 5rem;
  margin-right:auto;
}

.search-bar > button:hover,
.search-bar > button:focus {
  background-color:red;
}