*{
  margin: 10;
  padding: 10;
  font-family: 'Times New Roman', Times, serif
}

h1 {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

#albumart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  width: 30rem;
}

#rating-box {
  display: block;
  margin: 20px 20px 5px 20px;
  border: solid 3px black;
}

#user {
  display: inline;
  font-weight:bold;
  text-align: left;
}

#album-rating {
  display: inline;
  font-weight:bold;
  margin-left: 440px;
}

.rate {
  display: inline;
  height: 0 px;
}

.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#album-review {
  position: relative;
  top: 10px;
  left: 15px;
  display:block;
  font-weight: bold;
  color: red;
}

p {
  padding: 15px;
  display:block;
}